<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prova -</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <div class="character">
        <div class="life-bar" :style="{width: player.life + '%'}">
          {{player.life}}/{{player.defaultLife}}
        </div>
        <div class="sprite">
          <div v-if="player.life >= (player.defaultLife * 1)">
            <img src="./img/leon vida cheia.png" />
          </div>
          <div v-else-if="player.life > (player.defaultLife * 0.7)">
            <img src="./img/leon pouco dano.png" />
          </div>
          <div v-else-if="player.life > (player.defaultLife * 0.3)">
            <img src="./img/leon muito dano.png" />
          </div>
          <div v-else-if="player.life > 0">
            <img src="./img/leon quase morto.png" />
          </div>
          <div v-else><img src="./img/leon morto.png" /></div>
        </div>
        <h1>{{player.name}}</h1>
        <div class="actions">
          <button @click="atacar()">Atacar</button>
          <button @click="defender()">Defender</button>
          <button @click="usarPocao()">Usar Poção</button>
          <button @click="fugir()">Correr</button>
        </div>
        <div>
          <span>
            Defesa: {{player.getDefense()}} | Ataque:
            {{player.atkmin}}-{{player.attack}} | Poçâo cura até: 25
          </span>
        </div>
      </div>
      <div class="display">
        <div>Turno: {{turn}}</div>
        {{display}}
      </div>
      <div class="villain">
        <div
          class="life-bar"
          :style="{width: ((enemy.life / enemy.defaultLife) * 100) + '%'}"
        >
          {{enemy.life}}/{{enemy.defaultLife}}
        </div>
        <div class="sprite">
          <div v-if="enemy.life >= (enemy.defaultLife * 1)">
            <img src="./img/namesis vida cheia.png" height="160px" />
          </div>
          <div v-else-if="enemy.life > (enemy.defaultLife * 0.7)">
            <img src="./img/namesis pouco dano.png" height="160px" />
          </div>
          <div v-else-if="enemy.life > (enemy.defaultLife * 0.3)">
            <img src="./img/namesis muito dano.png" height="160px" />
          </div>
          <div v-else-if="enemy.life > 0">
            <img src="./img/namesis quase morto.png" height="160px" />
          </div>
          <div v-else><img src="./img/namesis morto.png" height="160px" /></div>
        </div>
        <h1>{{enemy.name}}</h1>
        <div>
          <span>
            Defesa: {{enemy.getDefense()}} | Ataque:
            {{enemy.atkmin}}-{{enemy.attack}} | Poçâo cura até: 10</span
          >
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
